<a href="https://colab.research.google.com/github/zdanielshi/personal_projects/blob/main/DS0525.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [129]:
import datetime as dt
import pytz

Exercise #6
1. Luke Skywalker has family and friends; help remind him who is who 
2. Given a string with a name, return the relation of that person to Luke

Person         Relation
Darth Vader    Father
Leia           Sister
Han            Brother in Law
R2D2           Droid
C3PO           Droid

Example Outputs:
relation_to_luke("Darth Vader") ➞ "Luke, I am your father."
relation_to_luke("Leia") ➞ "Luke, I am your sister."
relation_to_luke("Han") ➞ "Luke, I am your brother in law."

In [ ]:
def relation_to_luke(person):
  try:
    relative = {'Darth Vader': 'Father',
                'Leia': 'Sister',
                'Han': 'Brother in Law',
                'R2D2': 'Droid',
                'C3PO': 'Droid'
                }
    output = 'Luke, I am your ' + relative[person]
    return output
  except:
    return 'Please enter a Star Wars character'

print(relation_to_luke('Darth Vader'))
print(relation_to_luke('Leia'))
print(relation_to_luke('Han'))
print(relation_to_luke('R2D2'))
print(relation_to_luke('C3PO'))
print(relation_to_luke('Bob'))

Luke, I am your Father
Luke, I am your Sister
Luke, I am your Brother in Law
Luke, I am your Droid
Luke, I am your Droid
Please enter a Star Wars character

Exercise #7
1. Write a function named 'circle_or_square' that will take two parameters, the radius of a circle and the area of a square 
2. Return True if the circumference of the circle is greater than the square's perimeter and False if the square's perimeter is greater than the circumference of the circle

**Example Outputs: **

circle_or_square(16, 625) ➞ True

circle_or_square(5, 100) ➞ False

circle_or_square(8, 144) ➞ True

Notes:

You can use Pi to 2 decimal places (3.14)
Circumference of a circle equals 2 * Pi * radius

To find the perimeter of a square using its area, find the square root of area (to get side length) and multiply that by 4

In [ ]:
def circle_or_square(radius_circle, area_square): # def function for radius of circle and area of square
  try: 
    circle_circ = 2 * radius_circle * 3.14 # variable for circ of circle
    square_perim = (area_square ** 0.5) * 4 # variable for circ of square
    return circle_circ > square_perim # return the boolean of the comparison
  except:
    return 'Please enter the values for 1) the radius of a circle and 2) the area of a square'

print(circle_or_square(16, 625)) # should be TRUE
print(circle_or_square(5, 100)) # should be FALSE
print(circle_or_square(8, 144)) # should be TRUE
print(circle_or_square('a', 'b'))

True
False
True
Please enter the values for 1) the radius of a circle and 2) the area of a square

Exercise #8
1. Create a function that returns the number of characters shared between two words

**Example Outputs:**

shared_letters("apple", "meaty") ➞ 2

Since "ea" is shared between "apple" and "meaty"

shared_letters("fan", "forsook") ➞ 1

shared_letters("spout", "shout") ➞ 4

In [ ]:
def shared_letters(str_1, str_2): # def the function taking two strings
  try:
    string_1_chars = [] # initialize a list for str1
    string_2_chars = [] # intialize a list for str2
    counter = 0 # intialize a counter
    for i in range(len(str_1)): # for loop to parse str1 into list
      string_1_chars.append(str_1[i])
    string_1_chars_set = set(string_1_chars) # turn list into a set
    for i in range(len(str_1)): # for loop to parse str2 into list
      string_2_chars.append(str_2[i])
    string_1_chars_set = set(string_1_chars) # turn list into a set
    string_2_chars_set = set(string_2_chars) # turn list into a set
    for v in string_1_chars: # for loop thru str 1 set
      if v in string_2_chars: # if char is in str 2 set
        counter += 1 # increment the counter
    return counter # return the counter
  except:
    return('Please enter two strings')

print(shared_letters("apple", "meaty")) # 2
print(shared_letters("fan", "forsook")) # 1 
print(shared_letters("spout", "shout")) # 4
print(shared_letters('3830930', 38393))

2
1
4
Please enter two strings

Exercise #9
1. Create a function to test if a string is a valid pin or not
2. A valid pin has:
   Exactly 4 or 6 characters
   Only numerical characters (0-9)
   No whitespace

Example Outputs:

valid("1234") ➞ True

valid("45135") ➞ False

valid("89abc1") ➞ False

valid("900876") ➞ True

valid(" 4983") ➞ False

In [ ]:
def is_valid(pin_string): # define a function
  try: 
    if len(pin_string) == 4 or len(pin_string) == 6 and pin_string.isnumeric(): # 4 or 6 chars, trimmed, isnumeric  
      return 'True'
    else:
      return 'False'
  except:
    return 'Please input a string'

print(is_valid("1234")) # True
print(is_valid("45135")) # False
print(is_valid("89abc1")) # False
print(is_valid("900876")) # True
print(is_valid(" 3456")) # False
print(is_valid(123455))

True
False
False
True
False
Please input a string

In [ ]:
pin_string_test = '89abc1'

len(pin_string_test) == 4 or len(pin_string_test) == 6 and pin_string_test.isnumeric()

# print(len(pin_string_test.strip()) == 4)
# print(len(pin_string_test.strip()) == 6)
# print(pin_string_test.isnumeric())

False

Exercise #10
1. It takes 21 seconds to wash your hands and help prevent the spread of COVID-19
2. Create a function that takes the number of times a person washes their hands per day 'N' and the number of months they follow this routine 'M' and calculates the duration in minutes and seconds that person spends washing their hands

Example Outputs:

wash_hands(8, 7) ➞ "588 minutes and 0 seconds"

wash_hands(0, 0) ➞ "0 minutes and 0 seconds"

wash_hands(7, 9) ➞ "661 minutes and 30 seconds"

*considering a month has 30 days

In [ ]:
def wash_hands(times_per_day, months): # define a function, collecting N washes and M months
  try: 
    days_in_month = 30 # variable to calc total days
    seconds = 21
    total_seconds = seconds * times_per_day * days_in_month * months # variable to calc total seconds
    minutes = int(total_seconds / 60) # convert seconds to minutes
    remainder_seconds = int(total_seconds % 60)
    return str(minutes) + ' minutes and ' + str(remainder_seconds) + ' seconds'
  except:
    return 'Enter values for timers per day and months of hand washing.'

print(wash_hands(8,7))
print(wash_hands(0,0))
print(wash_hands(7,9))
print(wash_hands('a',9))

588 minutes and 0 seconds
0 minutes and 0 seconds
661 minutes and 30 seconds
Enter values for timers per day and months of hand washing.

In [89]:
dt.date.today()

datetime.date(2022, 5, 26)

In [94]:
dt.datetime.today()

datetime.datetime(2022, 5, 26, 3, 29, 1, 875660)

In [102]:
thanksgiving = dt.datetime(2022, 11, 24)
today = dt.datetime.today()

thanksgiving - today

datetime.timedelta(days=181, seconds=73370, microseconds=495982)

Write a function that asks a user their date of birthbased on their DOB, calculate how old they are

In [128]:
def birthday(input_year, input_month, input_date):
  try: 
    birthdate = dt.datetime(input_year, input_month, input_date)
    today = dt.datetime.today()
    difference = today - birthdate
    years = int(difference.days / 365)
    return str(years) + ' years old'
  except:
    return 'Please enter Year, Month, and Date as YYYY, MM, DD'

input_year = int(input('Year? (####) '))
input_month = int(input('Month? (##)'))
input_date = int(input('Date? (##)'))

birthday(input_year, input_month, input_date)

Year? (####) 1985
Month? (##)04
Date? (##)28

'37 years old'