<a href="https://colab.research.google.com/github/zdanielshi/personal_projects/blob/main/DS0531sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd

# HR Exercise

In [ ]:
conn = sqlite3.connect('hr.db')

In [ ]:
tables = conn.execute("SELECT name from sqlite_master WHERE type='table'")

In [ ]:
for name in tables:
  print(name)

In [ ]:
data = pd.read_sql("SELECT * from employee", conn)
data

In [ ]:
current_employees = data[data.Attrition == 'No']
current_employees

In [ ]:
current_employees.to_sql('current_emp', conn)

In [ ]:
previous_employees = data[data.Attrition == 'Yes']
previous_employees.to_sql('previous_emp', conn)

In [ ]:
emp = pd.read_sql("SELECT 8 from previous_emp", conn)
emp

In [ ]:
tables = conn.execute("SELECT name from sqlite_master WHERE type='table'")
for name in tables:
  print(name)

('employee',)
('previous_emp',)

In [ ]:
conn.execute("DROP TABLE previous_emp")

# Stocks exercise

In [9]:
stocksconn = sqlite3.connect('/content/stocks.sqlite')

In [10]:
stocks_tables = stocksconn.execute("SELECT name from sqlite_master WHERE type='table'")

In [11]:
for name in stocks_tables:
  print(name)

('STOCK_DATA',)
('Symbol_MSFT',)
('Symbol_AAPL',)

1. Create two new tables in the database, one with only 'MSFT' values for the Symbol feature, and one with only 'AAPL' values for the Symbol feature.

2. Read the two new new tables in from the database using SQL to check if they were successfully created.

3. For each new table in the database, query for the Maximum and Minimum dates, and save those as new pandas data frames.

4. For each new table in the database, query for values greater than 50 in the Open feature, and save those as new pandas data frames.