<a href="https://colab.research.google.com/github/zdanielshi/data_science_LFZ/blob/main/DS0606_crosstab%2C_pivot_tables%2C_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Code lecture

In [2]:
titanic = pd.read_csv('/content/titanic.csv')

In [3]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
titanic.PassengerId = titanic.PassengerId.astype('str')

In [6]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    object
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(4), object(6)
memory usage: 83.7+ KB

In [7]:
titanic.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [8]:
titanic.Pclass.unique()

array([3, 1, 2])

In [9]:
titanic.Ticket.value_counts()

347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: Ticket, Length: 681, dtype: int64

In [10]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [11]:
titanic.describe(include='all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,891,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,1,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,1,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,NaN,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,NaN,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,NaN,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,NaN,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,NaN,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,NaN,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,NaN,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [12]:
titanic.describe(include='all', percentiles = [.10, .30, .90])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,891,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,1,NaN,NaN,"Braund, Mr. Owen Harris",male,NaN,NaN,NaN,347082,NaN,B96 B98,S
freq,1,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,NaN,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,NaN,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,NaN,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
10%,NaN,0.000000,1.000000,NaN,NaN,14.000000,0.000000,0.000000,NaN,7.550000,NaN,NaN
30%,NaN,0.000000,2.000000,NaN,NaN,22.000000,0.000000,0.000000,NaN,8.050000,NaN,NaN
50%,NaN,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
90%,NaN,1.000000,3.000000,NaN,NaN,50.000000,1.000000,2.000000,NaN,77.958300,NaN,NaN
max,NaN,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [13]:
titanic.loc[titanic.Fare == 0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,NaN,S
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S
277,278,0,2,"Parkes, Mr. Francis ""Frank""",male,NaN,0,0,239853,0.0,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S
413,414,0,2,"Cunningham, Mr. Alfred Fleming",male,NaN,0,0,239853,0.0,NaN,S
466,467,0,2,"Campbell, Mr. William",male,NaN,0,0,239853,0.0,NaN,S
481,482,0,2,"Frost, Mr. Anthony Wood ""Archie""",male,NaN,0,0,239854,0.0,NaN,S
597,598,0,3,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0,NaN,S
633,634,0,1,"Parr, Mr. William Henry Marsh",male,NaN,0,0,112052,0.0,NaN,S
674,675,0,2,"Watson, Mr. Ennis Hastings",male,NaN,0,0,239856,0.0,NaN,S
732,733,0,2,"Knight, Mr. Robert J",male,NaN,0,0,239855,0.0,NaN,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0,A36,S
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0,B102,S
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0,NaN,S

In [14]:
titanic[(titanic.Fare == 0) & (titanic.Age < 30)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
271,272,1,3,"Tornquist, Mr. William Henry",male,25.0,0,0,LINE,0.0,NaN,S
302,303,0,3,"Johnson, Mr. William Cahoone Jr",male,19.0,0,0,LINE,0.0,NaN,S

In [15]:
titanic.groupby('Pclass')['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [16]:
titanic.groupby(['Pclass', 'Sex'])['Survived'].mean()

Pclass  Sex
1       female    0.968085
        male      0.368852
2       female    0.921053
        male      0.157407
3       female    0.500000
        male      0.135447
Name: Survived, dtype: float64

In [17]:
titanic.groupby('Sex').agg({'Survived':['mean', 'median', 'count', 'sum']})

        Survived
            mean median count  sum
Sex
female  0.742038    1.0   314  233
male    0.188908    0.0   577  109

# Healthcare Exercise

In [18]:
hc_stroke = pd.read_csv('/content/healthcare-dataset-stroke-data (1).csv')
df_hc = pd.DataFrame(hc_stroke)
df_hc

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

Use .describe() to compute a variety of statistics on the whole data set at once

In [19]:
df_hc.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

Filter .describe() to only compute statistics on factors with floating point number values

In [20]:
df_hc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [21]:
df_hc.describe(include = 'float')

               age  avg_glucose_level          bmi
count  5110.000000        5110.000000  4909.000000
mean     43.226614         106.147677    28.893237
std      22.612647          45.283560     7.854067
min       0.080000          55.120000    10.300000
25%      25.000000          77.245000    23.500000
50%      45.000000          91.885000    28.100000
75%      61.000000         114.090000    33.100000
max      82.000000         271.740000    97.600000

Use .groupby() to create a data frame grouping by the "stroke" factor

In [22]:
df_hc.groupby('stroke').mean()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi
stroke,,,,,,
0,36487.236371,41.971545,0.088871,0.047110,104.795513,28.823064
1,37115.068273,67.728193,0.265060,0.188755,132.544739,30.471292

Use the "stroke" grouping to get only group where "stroke" is 1

In [23]:
df_hc_stroke = df_hc[df_hc.stroke == 1]
df_hc_stroke.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

Compute "stroke" grouping statistics on factors with floating point values.

In [24]:
df_hc_stroke.describe(include = 'float')

              age  avg_glucose_level         bmi
count  249.000000         249.000000  209.000000
mean    67.728193         132.544739   30.471292
std     12.727419          61.921056    6.329452
min      1.320000          56.110000   16.900000
25%     59.000000          79.790000   26.400000
50%     71.000000         105.220000   29.700000
75%     78.000000         196.710000   33.700000
max     82.000000         271.740000   56.600000

Filter .describe() to only compute statistics on factors with integer values, removing as much percentile data as possible

In [25]:
df_hc_stroke.describe(include = 'int', percentiles = [])

                 id  hypertension  heart_disease  stroke
count    249.000000    249.000000     249.000000   249.0
mean   37115.068273      0.265060       0.188755     1.0
std    21993.344872      0.442254       0.392102     0.0
min      210.000000      0.000000       0.000000     1.0
50%    36706.000000      0.000000       0.000000     1.0
max    72918.000000      1.000000       1.000000     1.0

Create a data frame grouping by both the "hypertension" and "heart_disease" factors

In [26]:
df_hc.groupby(['hypertension','heart_disease']).mean()

                                      id        age  avg_glucose_level  \
hypertension heart_disease
0            0              36566.362727  39.906136         102.158132
             1              34973.608491  67.466981         132.475142
1            0              36098.767281  61.016129         127.089562
             1              41138.156250  70.578125         151.207031

                                  bmi    stroke
hypertension heart_disease
0            0              28.408753  0.033864
             1              29.982703  0.160377
1            0              33.280916  0.122120
             1              31.381034  0.203125

Get the group where both "hypertension" and "heart_disease" are 1.

In [27]:
df_hc[(df_hc.hypertension == 1) & (df_hc.heart_disease == 1)].head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
35,712,Female,82.0,1,1,No,Private,Rural,84.03,26.5,formerly smoked,1
115,53401,Male,71.0,1,1,No,Govt_job,Rural,216.94,30.9,never smoked,1
143,37651,Female,69.0,1,1,No,Self-employed,Urban,72.17,36.8,never smoked,1
171,60739,Female,79.0,1,1,No,Self-employed,Rural,60.94,NaN,never smoked,1

Count the number of "id"s per group

In [28]:
df_hc.groupby(['hypertension','heart_disease'])['id'].count()

hypertension  heart_disease
0             0                4400
              1                 212
1             0                 434
              1                  64
Name: id, dtype: int64

Aggregate both the mean and standard deviation of "stroke" per group

In [29]:
df_hc.groupby(['hypertension','heart_disease']).agg({'stroke':['mean', 'median', 'count', 'sum']})

                              stroke
                                mean median count  sum
hypertension heart_disease
0            0              0.033864    0.0  4400  149
             1              0.160377    0.0   212   34
1            0              0.122120    0.0   434   53
             1              0.203125    0.0    64   13

# Hotel bookings exercise

In [30]:
bookings = pd.read_csv('/content/hotel_bookings.csv')

In [31]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,2015-07-03

In [32]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111304 entries, 0 to 111303
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           111304 non-null  object
 1   is_canceled                     111304 non-null  int64
 2   lead_time                       111304 non-null  int64
 3   arrival_date_year               111304 non-null  int64
 4   arrival_date_month              111304 non-null  object
 5   arrival_date_week_number        111304 non-null  int64
 6   arrival_date_day_of_month       111304 non-null  int64
 7   stays_in_weekend_nights         111304 non-null  int64
 8   stays_in_week_nights            111304 non-null  int64
 9   adults                          111304 non-null  int64
 10  children                        111300 non-null  float64
 11  babies                          111304 non-null  int64
 12  meal                            111304 non-null  object
 13  country                         110816 non-null  object
 14  market_segment                  111304 non-null  object
 15  distribution_channel            111303 non-null  object
 16  is_repeated_guest               111303 non-null  float64
 17  previous_cancellations          111303 non-null  float64
 18  previous_bookings_not_canceled  111303 non-null  float64
 19  reserved_room_type              111303 non-null  object
 20  assigned_room_type              111303 non-null  object
 21  booking_changes                 111303 non-null  float64
 22  deposit_type                    111303 non-null  object
 23  agent                           95479 non-null   float64
 24  company                         6572 non-null    float64
 25  days_in_waiting_list            111303 non-null  float64
 26  customer_type                   111303 non-null  object
 27  adr                             111303 non-null  float64
 28  required_car_parking_spaces     111303 non-null  float64
 29  total_of_special_requests       111303 non-null  float64
 30  reservation_status              111303 non-null  object
 31  reservation_status_date         111303 non-null  object
dtypes: float64(11), int64(9), object(12)
memory usage: 27.2+ MB

In [33]:
bookings.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,111304.000000,111304.000000,111304.000000,111304.000000,111304.000000,111304.000000,111304.000000,111304.000000,111300.000000,111304.000000,111303.000000,111303.000000,111303.000000,111303.000000,95479.000000,6572.000000,111303.000000,111303.000000,111303.000000,111303.000000
mean,0.397290,102.222822,2016.095280,27.204817,15.754375,0.932599,2.520260,1.851676,0.101635,0.008158,0.033854,0.093403,0.146106,0.214451,90.481781,187.829276,2.487768,99.622763,0.065182,0.549886
std,0.489339,105.813183,0.693864,14.029843,8.793255,1.007712,1.937874,0.583290,0.394600,0.099078,0.180853,0.874113,1.549133,0.639108,111.859890,130.891865,18.207768,50.397448,0.250139,0.782717
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,17.000000,2016.000000,15.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,67.000000,0.000000,0.000000
50%,0.000000,67.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,90.950000,0.000000,0.000000
75%,1.000000,158.000000,2017.000000,39.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,240.000000,269.000000,0.000000,122.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [34]:
bookings.groupby('is_canceled').count()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
is_canceled,,,,,,,,,,,,,,,,,,,,,
0,67084,67084,67084,67084,67084,67084,67084,67084,67084,67084,...,67083,55285,5385,67083,67083,67083,67083,67083,67083,67083
1,44220,44220,44220,44220,44220,44220,44220,44220,44220,44216,...,44220,40194,1187,44220,44220,44220,44220,44220,44220,44220

In [45]:
corr = bookings.corr()
corr.sort_values('is_canceled', ascending=False)

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
is_canceled,1.000000,0.327164,0.089590,0.006075,-0.002413,-0.005876,0.017519,0.069781,0.010055,-0.035532,-0.096345,0.106762,-0.063478,-0.147492,-0.116640,-0.016054,0.048008,0.086111,-0.211570,-0.229296
lead_time,0.327164,1.000000,0.022298,0.129543,-0.001508,0.087819,0.171161,0.120899,-0.040335,-0.020644,-0.125930,0.091885,-0.075080,-0.008627,-0.075749,0.157739,0.180154,-0.062117,-0.119930,-0.118404
previous_cancellations,0.106762,0.091885,-0.117211,0.035359,-0.027444,-0.013609,-0.015343,-0.005992,-0.025257,-0.007865,0.081446,1.000000,0.152194,-0.027412,-0.016440,-0.186677,0.004965,-0.063483,-0.019955,-0.047808
arrival_date_year,0.089590,0.022298,1.000000,-0.569626,-0.006746,0.029769,0.046690,0.021621,0.052892,-0.011437,0.024989,-0.117211,0.038472,0.020847,0.113949,0.258071,-0.047778,0.159551,-0.000787,0.084453
adr,0.086111,-0.062117,0.159551,0.080601,0.031298,0.058262,0.076152,0.221927,0.323209,0.030994,-0.131423,-0.063483,-0.070589,0.013933,0.002645,0.072657,-0.036395,1.000000,0.063770,0.161616
adults,0.069781,0.120899,0.021621,0.025191,0.001077,0.093718,0.093036,1.000000,0.033259,0.018450,-0.148205,-0.005992,-0.109761,-0.046988,-0.027485,0.206169,-0.007439,0.221927,0.015093,0.117879
days_in_waiting_list,0.048008,0.180154,-0.047778,0.022702,0.024132,-0.056338,-0.003427,-0.007439,-0.034025,-0.011106,-0.023846,0.004965,-0.010200,-0.011097,-0.061727,0.001070,1.000000,-0.036395,-0.032531,-0.083215
stays_in_week_nights,0.017519,0.171161,0.046690,0.014124,-0.029215,0.515931,1.000000,0.093036,0.048593,0.020337,-0.100451,-0.015343,-0.050437,0.103364,0.187099,0.187617,-0.003427,0.076152,-0.026720,0.073190
children,0.010055,-0.040335,0.052892,0.002443,0.015347,0.049830,0.048593,0.033259,1.000000,0.024984,-0.033736,-0.025257,-0.021397,0.048133,0.050784,0.039371,-0.034025,0.323209,0.058405,0.084507
arrival_date_week_number,0.006075,0.129543,-0.569626,1.000000,0.065644,0.017678,0.014124,0.025191,0.002443,0.010309,-0.031012,0.035359,-0.021329,0.004669,-0.032929,-0.078715,0.022702,0.080601,0.000593,0.027296
arrival_date_day_of_month,-0.002413,-0.001508,-0.006746,0.065644,1.000000,-0.015341,-0.029215,0.001077,0.015347,0.000485,-0.005767,-0.027444,0.000024,0.009422,0.003760,0.036587,0.024132,0.031298,0.009948,-0.000691
stays_in_weekend_nights,-0.005876,0.087819,0.029769,0.017678,-0.015341,1.000000,0.515931,0.093718,0.049830,0.018825,-0.089921,-0.013609,-0.044096,0.070673,0.144491,0.072341,-0.056338,0.058262,-0.018639,0.077979
company,-0.016054,0.157739,0.258071,-0.078715,0.036587,0.072341,0.187617,0.206169,0.039371,0.020222,-0.253024,-0.186677,-0.213175,0.126481,0.427721,1.000000,0.001070,0.072657,-0.011895,-0.118401
babies,-0.035532,-0.020644,-0.011437,0.010309,0.000485,0.018825,0.020337,0.018450,0.024984,1.000000,-0.009396,-0.007865,-0.006829,0.086591,0.037488,0.020222,-0.011106,0.030994,0.037998,0.102381
previous_bookings_not_canceled,-0.063478,-0.075080,0.038472,-0.021329,0.000024,-0.044096,-0.050437,-0.109761,-0.021397,-0.006829,0.417455,0.152194,1.000000,0.012628,0.022113,-0.213175,-0.010200,-0.070589,0.047161,0.041878
is_repeated_guest,-0.096345,-0.125930,0.024989,-0.031012,-0.005767,-0.089921,-0.100451,-0.148205,-0.033736,-0.009396,1.000000,0.081446,0.417455,0.013210,0.028174,-0.253024,-0.023846,-0.131423,0.075945,0.018281
agent,-0.116640,-0.075749,0.113949,-0.032929,0.003760,0.144491,0.187099,-0.027485,0.050784,0.037488,0.028174,-0.016440,0.022113,0.079442,1.000000,0.427721,-0.061727,0.002645,0.183262,0.058547
booking_changes,-0.147492,-0.008627,0.020847,0.004669,0.009422,0.070673,0.103364,-0.046988,0.048133,0.086591,0.013210,-0.027412,0.012628,1.000000,0.079442,0.126481,-0.011097,0.013933,0.069080,0.051435
required_car_parking_spaces,-0.211570,-0.119930,-0.000787,0.000593,0.009948,-0.018639,-0.026720,0.015093,0.058405,0.037998,0.075945,-0.019955,0.047161,0.069080,0.183262,-0.011895,-0.032531,0.063770,1.000000,0.091300
total_of_special_requests,-0.229296,-0.118404,0.084453,0.027296,-0.000691,0.077979,0.073190,0.117879,0.084507,0.102381,0.018281,-0.047808,0.041878,0.051435,0.058547,-0.118401,-0.083215,0.161616,0.091300,1.000000

Lead time is highly correlated with cancellation status.

Others that are also correlated are previous cancellations, the arrival date year, and the average daily rate.

Theories:
*   Lead times may have something to do with it
*   Distribution channel may have something to do with it
*   Repeat guests are less likely to cancel
*   Room type may have something to do with it?
*   Time of year may have something to do with it? Some seasons may have more cancellations due to holidays or weather patterns?
*   Countries may have something to do with it
*   Customers with more requests were more likely to cancel

---


** Why did so many non-refundable customers cancel their reservations?

## Deposit status

In [35]:
bookings.deposit_type.unique()

array(['No Deposit', 'Refundable', 'Non Refund', nan], dtype=object)

In [36]:
bookings.deposit_type.value_counts()

No Deposit    96554
Non Refund    14587
Refundable      162
Name: deposit_type, dtype: int64

In [50]:
bookings.groupby('deposit_type')['is_canceled'].value_counts(normalize = True)

deposit_type  is_canceled
No Deposit    0              0.692504
              1              0.307496
Non Refund    1              0.993624
              0              0.006376
Refundable    0              0.777778
              1              0.222222
Name: is_canceled, dtype: float64

* **Unexpected** Within the non-refundable category, 99% canceled.
* And the inverse was true for no deposits. Those who did not put down a deposit are over 2x as likely to keep their reservations.

## Lead time

In [54]:
pd.DataFrame(bookings.groupby('lead_time')['is_canceled'].value_counts(normalize = True))

                       is_canceled
lead_time is_canceled
0         0               0.929290
          1               0.070710
1         0               0.903313
          1               0.096687
2         0               0.891548
...                            ...
622       1               1.000000
626       1               1.000000
629       1               1.000000
709       0               1.000000
737       0               1.000000

[866 rows x 1 columns]

In [56]:
pd.DataFrame(bookings.groupby('is_canceled')['lead_time'].value_counts(normalize = True))

                       lead_time
is_canceled lead_time
0           0           0.084044
            1           0.044705
            2           0.026102
            3           0.023374
            4           0.022017
...                          ...
1           397         0.000023
            399         0.000023
            429         0.000023
            435         0.000023
            458         0.000023

[866 rows x 1 columns]

## Previous cancellations

In [59]:
bookings.groupby('is_canceled')['previous_cancellations'].value_counts()

is_canceled  previous_cancellations
0            0.0                       66545
             1.0                         333
             2.0                          78
             3.0                          45
             11.0                         25
             4.0                          24
             5.0                          17
             6.0                          15
             13.0                          1
1            0.0                       38279
             1.0                        5713
             24.0                         48
             2.0                          38
             26.0                         26
             25.0                         25
             3.0                          20
             19.0                         19
             14.0                         14
             13.0                         11
             11.0                         10
             4.0                           7
             6.0                           7
             5.0                           2
             21.0                          1
Name: previous_cancellations, dtype: int64

If you have never canceled before, then you're more likely to keep your reservation.

However, if you have canceled at least 1 time before, then you are way more likely to cancel

## Market segment

This is an object feature, so was not picked up in the correlation analysis

In [60]:
bookings['market_segment'].unique()

array(['Direct', 'Corporate', 'Online TA', 'Offline TA/TO',
       'Complementary', 'Groups', 'Undefined', 'Aviation', 'Onl'],
      dtype=object)

In [63]:
bookings.groupby('market_segment')['is_canceled'].value_counts(normalize = True)

market_segment  is_canceled
Aviation        0              0.742574
                1              0.257426
Complementary   0              0.864146
                1              0.135854
Corporate       0              0.808193
                1              0.191807
Direct          0              0.832786
                1              0.167214
Groups          1              0.628448
                0              0.371552
Offline TA/TO   0              0.638369
                1              0.361631
Onl             0              1.000000
Online TA       0              0.596808
                1              0.403192
Undefined       1              1.000000
Name: is_canceled, dtype: float64

In [64]:
bookings.groupby('market_segment')['is_canceled'].value_counts()

market_segment  is_canceled
Aviation        0                150
                1                 52
Complementary   0                617
                1                 97
Corporate       0               4163
                1                988
Direct          0               9632
                1               1934
Groups          1              12097
                0               7152
Offline TA/TO   0              14671
                1               8311
Onl             0                  1
Online TA       0              30698
                1              20739
Undefined       1                  2
Name: is_canceled, dtype: int64

Disregard "Onl" and "Undefined" since the count is so small.

In general, all segments are less likely to cancel than keep the reservation. Groups, and offline *and* online travel agents were more likely to cancel.