<a href="https://colab.research.google.com/github/zdanielshi/personal_projects/blob/main/Messing_around.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean true, otherwise return False. In the Gregorian calendar, three conditions are used to identify leap years:

*   The year can be evenly divided by 4, is a leap year, unless:
*   The year can be evenly divided by 100, it is NOT a leap year, unless:
  *   The year is also evenly divisible by 400. Then it is a leap year.

In [5]:
def leap_year_check(value):
  if value % 400 == 0 or value % 100 !=0 and value % 4 == 0: 
    leap_year_result = str(value) + ' is a leap year.' # True response
  else: #False response
    leap_year_result = str(value) + ' is NOT a leap year.' 
  return leap_year_result

print(leap_year_check(1972)) # is a leap year
print(leap_year_check(1948)) # is a leap year
print(leap_year_check(1991))
print(leap_year_check(1995))
print(leap_year_check(1985))
print(leap_year_check(2000)) # is a leap year
print(leap_year_check(2022)) # is a leap year

1972 is a leap year.
1948 is a leap year.
1991 is NOT a leap year.
1995 is NOT a leap year.
1985 is NOT a leap year.
2000 is a leap year.
2022 is NOT a leap year.

Write a function that takes two inputs and adds the two numbers together and returns the result. Use Try / Except to throw an exception if users input an incorrect value.

In [9]:
#start try block
def add_two_numbers(val_1, val_2):
  try:
    int_x = int(x)
    int_y = int(y)

    print("x is", x)
    print("y is", y)

    z = int_x + int_y

    print("x + Y =",z)
  except:
    print("An error occured.")

# collect inputs
x = input("Enter a number: ")
y = input("Enter a number: ")

# run the function
add_two_numbers(x, y)

Enter a number: a
Enter a number: b
An error occured.

In [26]:
# define the function
def get_the_average(*values): 
  try: 
    return sum(values) / len(values)
  except:
    print("An error occured")

get_the_average(1, 2, 4, 65, 3, 4, 88)

23.857142857142858

In [30]:
def get_the_geo_mean(*values): 
  try: 
    result = 1
    for x in values:
      result = result * x
    return result ** (1/len(values))
  except:
    print("An error occured")

get_the_geo_mean(1, 2, 4, 65, 3, 4, 88)

6.606211383171664

In [55]:
def get_wtd_avg(wts, sco):
  products = []
  for x in range(len(wts)):
    products.append(wts[x] * sco[x])
  return sum(products) / sum(wts)

weights = [.15, .15, .35, .35]
scores = [78, 70, 89, 94]

get_wtd_avg(weights, scores)

86.25000000000001

Write a function to return the median of a list

In [79]:
def get_median(*values):
  list_of_values = list(values) # convert tuple to list
  list_of_values.sort # sort list ascending
  if len(list_of_values) % 2 != 0: # if list is odd
    middle_index = int((len(list_of_values) - 1) / 2) # take len + 1, divide by 2 to get the middle index
    return list_of_values[middle_index] # return the middle index position
  else: 
    half_index = (len(list_of_values) / 2) # get the value left of midpoint
    half_index_plus_one = (len(list_of_values) / 2) + 1 # get the value right of midpoint
    return (half_index + half_index_plus_one) / 2 

print(get_median(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

5.5