<a href="https://colab.research.google.com/github/zdanielshi/personal_projects/blob/main/Practice_workbook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean true, otherwise return False. In the Gregorian calendar, three conditions are used to identify leap years:

*   The year can be evenly divided by 4, is a leap year, unless:
*   The year can be evenly divided by 100, it is NOT a leap year, unless:
  *   The year is also evenly divisible by 400. Then it is a leap year.

In [ ]:
def leap_year_check(value):
  if value % 400 == 0 or value % 100 !=0 and value % 4 == 0: 
    leap_year_result = str(value) + ' is a leap year.' # True response
  else: #False response
    leap_year_result = str(value) + ' is NOT a leap year.' 
  return leap_year_result

print(leap_year_check(1972)) # is a leap year
print(leap_year_check(1948)) # is a leap year
print(leap_year_check(1991))
print(leap_year_check(1995))
print(leap_year_check(1985))
print(leap_year_check(2000)) # is a leap year
print(leap_year_check(2022)) # is a leap year

1972 is a leap year.
1948 is a leap year.
1991 is NOT a leap year.
1995 is NOT a leap year.
1985 is NOT a leap year.
2000 is a leap year.
2022 is NOT a leap year.

Write a function that takes two inputs and adds the two numbers together and returns the result. Use Try / Except to throw an exception if users input an incorrect value.

In [ ]:
#start try block
def add_two_numbers(val_1, val_2):
  try:
    int_x = int(x)
    int_y = int(y)

    print("x is", x)
    print("y is", y)

    z = int_x + int_y

    print("x + Y =",z)
  except:
    print("An error occured.")

# collect inputs
x = input("Enter a number: ")
y = input("Enter a number: ")

# run the function
add_two_numbers(x, y)

Enter a number: a
Enter a number: b
An error occured.

In [ ]:
# define the function
def get_the_average(*values): 
  try: 
    return sum(values) / len(values)
  except:
    print("An error occured")

get_the_average(1, 2, 4, 65, 3, 4, 88)

23.857142857142858

In [ ]:
def get_the_geo_mean(*values): 
  try: 
    result = 1
    for x in values:
      result = result * x
    return result ** (1/len(values))
  except:
    print("An error occured")

get_the_geo_mean(1, 2, 4, 65, 3, 4, 88)

6.606211383171664

Function for weighted average

In [ ]:
def get_wtd_avg(wts, sco):
  products = []
  for x in range(len(wts)):
    products.append(wts[x] * sco[x])
  return sum(products) / sum(wts)

weights = [.15, .15, .35, .35]
scores = [78, 70, 89, 94]

get_wtd_avg(weights, scores)

86.25000000000001

Write a function to return the median of a list

In [ ]:
def get_median(*values):
  list_of_values = list(values) # convert tuple to list
  list_of_values.sort # sort list ascending
  if len(list_of_values) % 2 != 0: # if list is odd
    middle_index = int((len(list_of_values)) / 2) # take len + 1, divide by 2 to get the middle index
    return list_of_values[middle_index] # return the middle index position
  else: 
    half_index = (len(list_of_values) / 2) # get the value left of midpoint
    half_index_plus_one = (len(list_of_values) / 2) + 1 # get the value right of midpoint
    return (half_index + half_index_plus_one) / 2 

print(get_median(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))
print(get_median(1, 2, 3, 4, 5, 6, 7, 8, 9))
print(get_median(1, 2, 3, 4, 5, 6, 7, 8))

5.5
5
4.5

Write a function to find the mode:
1, 2, 4, 5, 5, 8, 9

In [ ]:
def _mode(*args):
  d = {}
  m = []
  for i in args:
    d[i] = args.count(i)
  for k, v in d.items():
    if v == max(d.values()):
      m.append(k)
  return m

In [ ]:
_mode(1, 2, 4, 5, 5, 5, 8, 8, 9, 9)

{1: 1, 2: 1, 4: 1, 5: 3, 8: 2, 9: 2}

[5]

Calculating the variance of 1, 2, 3, 4, 5, 5, 8, 8, 9, 9

In [40]:
def _variance(*args):
  try:
    v = []
    _mean = get_the_average(*args)
    for i in args:
      v.append((i - _mean)**2)
    return sum(v) / (len(args) - 1)
  except:
    print("There's an error")

_variance(1, 2, 4, 5, 5, 8, 8, 9, 9)

9.0

In [44]:
def stdev(*args):
  return _variance(*args) ** 0.5

print(stdev(1, 2, 4, 5, 5, 8, 8, 9, 9))
print(stdev(3, 4, 4.5, 3.5)) #miles
print(stdev(4.828, 6.437, 7.242, 5.632)) #km

3.0
0.6454972243679028
1.0388632810272325

In [46]:
def coeff(*args):
  return stdev(*args) / get_the_average(*args)

print(coeff(3, 4, 4.5, 3.5)) #miles
print(coeff(4.828, 6.437, 7.242, 5.632)) #km

0.17213259316477408
0.17214686292344047