<a href="https://colab.research.google.com/github/zdanielshi/personal_projects/blob/main/RELY_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set up and importing

In [16]:
import yfinance as yf
import pandas as pd
import datetime as dt

Define the list and import the tickers to a dataframe.

You can add additional tickers.

In [25]:
start_date = '2022-03-22'
end_date = '2022-05-17'
tickers_list = [
                'RELY',   #Remitly
                'PYPL',   #Paypal
                'SQ',     #Square
                'COIN',   #Coinbase
                'ML',     #Monyelion
                'DAVE',   #Dave
                'NU',     #Nubank
                'FLYW',   #Flywire
                'PAYO',   #Payoneer
                'TOST',   #Toast
                'SOFI',   #Sofi
                'DLO',    #dLocal
                'UPST',   #Upstart        
                'GDOT',   #Green Dot
                'SPY',    #SP500
                '^NDXT'    #NASDAQ 100 Technology
                ]

data = yf.download(tickers_list, start = start_date, end = end_date)

[*********************100%***********************]  16 of 16 completed

             Adj Close                                                     \
                  COIN  DAVE        DLO       FLYW       GDOT    ML    NU
Date
2022-03-22  186.080002  9.56  32.480000  27.400000  28.110001  2.94  8.02
2022-03-23  183.110001  8.75  30.750000  27.030001  27.260000  2.62  7.91
2022-03-24  190.190002  8.42  31.030001  28.100000  27.670000  2.52  8.15
2022-03-25  186.710007  7.28  30.510000  27.920000  27.740000  2.52  7.95
2022-03-28  201.410004  6.52  31.150000  28.990000  27.709999  2.39  8.06

                                    ...    Volume                              \
            PAYO        PYPL  RELY  ...        NU     PAYO      PYPL     RELY
Date                                ...
2022-03-22  4.72  117.870003  9.66  ...  13245500  7014800  16746100   984200
2022-03-23  4.61  114.650002  9.35  ...   8046400  1644200  14430600  3817900
2022-03-24  4.55  116.050003  9.71  ...   7835700  1391900  13546700  2098000
2022-03-25  4.44  113.760002  9.58  ...   7345300  2146500  12371500   681900
2022-03-28  4.54  116.169998  9.98  ...   5816300  1572100  13868000   894400


                SOFI       SPY        SQ     TOST      UPST   ^NDXT
Date
2022-03-22  56998400  74650400  27938500  3326800  24467900  441300
2022-03-23  38946300  79426100  18069900  3711000  11117000  460300
2022-03-24  30175800  64736900  16790100  2758200  11260600  534800
2022-03-25  42524700  77101300  13467000  1894800  13385500  439200
2022-03-28  33300900  68529800  19074000  2671900  10224000  414200

[5 rows x 96 columns]

Warning: Total number of columns (96) exceeds max_columns (20) limiting to first (20) columns.

* Create a new table, preferably isolating just the adjusted close
* Figure out a way to plot the live price as the final row
* Index it to the 2022-03-22 value
* Plot the values to a chart
* Format chart to highlight RELY, SPY, NDXT